<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ma.lifeos.app"
    android:versionCode="20100"
    android:versionName="2.1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LifeOSTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name="com.nicron.webview.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="nitron.backButton" android:value="history" />
            <meta-data android:name="nitron.clearCacheOnStart" android:value="false" />
            <meta-data android:name="nitron.splashBackground" android:value="#090d14" />
        </activity>
    </application>
</manifest>
